// imports
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
// colors
$primary: #112243;
$error: #fe3652;
$success: #36b37e;
$light: #f5f8fa;
$medium: #657786;
$dark: #34495e;
$white: #fff;

body {
  margin: 0;
  // color: $dark;
  font-family: "Open Sans", sans-serif;
}

html {
  //   line-height: 1.15;
  //   -webkit-text-size-adjust: 100%;
  font-size: 106.3%; /*17px*/
}

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  transition: 0.15s;

  &:focus {
    outline: none;
  }
}

// fonts
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
}
h1 {
  size: 3.3125rem;
  line-height: 1.15em;
  font-weight: 500;
}
h2 {
  size: 2.25rem;
  line-height: 1.5em;
  font-weight: 500;
}
h3 {
  size: 1.5625rem;
  line-height: 1.4em;
  font-weight: 300;
}
h4 {
  size: 1.125rem;
  line-height: 1.4em;
  font-weight: 300;
}
h5 {
  size: 1.0625rem;
  line-height: 1.4em;
  font-weight: 300;
}
h6 {
  size: 0.75rem;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: 500;
}
.subtitle-1 {
  size: 0.875rem;
  font-weight: 300;
}
.subtitle-2 {
  size: 0.875rem;
  line-height: 1.5em !important;
  font-weight: 300;
}
caption {
  size: 0.8125rem;
  font-weight: 300;
}
// .overline {
//   letter-spacing: normal;
//   line-height: 0.625rem;
//   size: 0.625rem;
//   font-weight: 50;
// }

// Tabs
$tab-font-size: 0.775rem;
$tab-font-weight: 500;
$tabs-item-letter-spacing: normal;

@mixin infobox_mixin(
  $border-radius,
  $border-color,
  $padding,
  $margin-bottom,
  $color
) {
  border: $border-radius solid $border-color;
  padding: $padding;
  margin-bottom: $margin-bottom;
  color: $color;
}

a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: $primary;
  margin: 0;
  cursor: pointer;

  &:hover {
    color: lighten($primary, 5%);
  }
}

// globals
section {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 742px) {
    display: block;
  }
}
.row{
  padding:auto 0 !important;
}

.col1,
.col2 {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1rem;
  @media screen and (max-width: 742px) {
  }
}

.shadow {
  box-shadow: 0px 3px 1px -6px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
}
// [v-cloak] {
// 	display: none;
// }

.loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba($dark, 0.4);
	z-index: 9999;

	p {
		background: $white;
		width: 150px;
		text-align: center;
		margin: 40vh auto 0;
		padding: 40px 0;
		border-radius: 3px;
		box-shadow: 0 0 20px 0 rgba($dark, 0.5);
	}
}

.button {
  background: var(--v-TabBlue-base);
  border: 0;
  outline: 0;
  color: $white;
  padding: 0.8rem 1rem;
  min-width: 150px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background: lighten($primary, 5%);
  }

  &:disabled {
    opacity: 0.5;

    &:hover {
      background: $primary;
    }
  }
}

.text-center {
  text-align: center;
}

.inline {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
  }
}

.clear {
  clear: both;
}

form {
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 0.5rem;
  }

  input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 16px;
    padding: 10px;
    outline: 0;
    border-radius: 3px;

    &:focus {
      box-shadow: 0 0 5px 0 rgba($dark, 0.2);
    }
  }

  textarea {
    resize: none;
    outline: 0;
    height: 100px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
}
// transitions

.fade-enter-active {
  transition: opacity 0.5s;
}

.fade-leave-active {
  transition: opacity 0s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// .col1,
// .col2 {
// 	flex-grow: 1;
// 	flex-basis: 0;
// 	padding: 1rem;
// 	@media screen and (max-width: 742px) {}
// }


// section {
// 	display: flex;
// 	max-width: 1200px;
// 	margin: 0 auto;
// 	@media screen and (max-width: 742px) {
// 		display: block;
// 	}
// }
